<div style="text-align: center; margin-top: 100px; font-family: sans-serif; color: green;">
  <h1>hello tara</h1>
  <p>Welcome to my Rails app.</p>
  <p>Current time: <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %></p>
</div>
